<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/java epam/demoproject/src/test/java/org/example/AppTest.java">
        <parameter name="Browser" value="chrome"></parameter>
        <parameter name="Url" value="https://www.saucedemo.com/"></parameter>
        <classes>
            <class name="org.example.AppTest">
                <methods>
                    <include name="accessWebsite"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>